{
    {# vCenter server IP or FQDN #}
    "vcenter_server":"10.225.110.152",
    {# vCenter username #}
    "username":"administrator@vsphere.local",
    {# vCenter user password #}
    "password":"NSAPy.dhWpd_83Ty",
    {# Datacenter name where packer creates the VM for customization #}
    "datacenter":"dc0",
    {# Datastore name for the VM #}
    "datastore":"sharedVmfs-0",
    {# [Optional] Folder name #}
    "folder":"",
    {# Cluster name where packer creates the VM for customization #}
    "cluster": "cluster0",
    {# Packer VM network #}
    "network": "VM Network",
    {# To use insecure connection with vCenter  #}
    "insecure_connection": "true",
    {# TO create a clone of the Packer VM after customization#}
    "linked_clone": "true",
    {# To create a snapshot of the Packer VM after customization #}
    "create_snapshot": "true"
}